respond-leads/reference/v9-clean-blueprint.json
{
    "name": "WhatsApp AI Inventory Support V9 - Clean",
    "flow": [
        {
            "id": 7,
            "module": "whatsapp-business-cloud:watchEvents2",
            "version": 1,
            "parameters": {
                "hook": "",
                "phoneNumberId": "1013623275168542"
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 300
                }
            }
        },
        {
            "id": 9,
            "module": "supabase:searchRows",
            "version": 1,
            "parameters": {
                "accountId": "",
                "tableId": "conversations"
            },
            "filter": {
                "name": "Text messages only",
                "conditions": [
                    [
                        {
                            "a": "{{7.messages[].type}}",
                            "b": "text",
                            "o": "text:equal"
                        }
                    ]
                ]
            },
            "mapper": {
                "filterType": "eq",
                "filter": [
                    {
                        "name": "phone_number",
                        "value": "{{7.messages[].from}}"
                    }
                ],
                "orderBy": "updated_at",
                "orderDirection": "desc",
                "limit": "1"
            },
            "allowEmptyBundle": true,
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 300
                }
            }
        },
        {
            "id": 8,
            "module": "anthropic-claude:simpleTextPrompt",
            "version": 1,
            "parameters": {},
            "filter": {
                "name": "Dedup — skip if this message ID was already processed",
                "conditions": [
                    [
                        {
                            "a": "{{7.messages[].id}}",
                            "b": "{{9[].last_message_id}}",
                            "o": "text:notequal"
                        }
                    ]
                ]
            },
            "mapper": {
                "model": "claude-haiku-4-5",
                "textPrompt": "Extract the single best product search keyword from the customer message below.\nIf the message is NOT about a specific product or inventory, return exactly: GENERAL\n\nIf the message uses a vague reference like it, that, this one, the same — look at the conversation history to resolve which product is being referred to and return that product name as the keyword.\n\nRules:\n- Return ONLY the keyword or the word GENERAL\n- No punctuation, no explanation, no extra words\n- Max 5 words\n\nExamples:\n- Do you have Nike Air Max in size 9? -> Nike Air Max\n- Is the iPhone 15 in stock? -> iPhone 15\n- What red dresses do you have? -> red dress\n- How many units of SKU-4821 left? -> SKU-4821\n- History shows Nike Air Max discussed, customer says does it come in white -> Nike Air Max\n- Hello, what are your store hours? -> GENERAL\n- Hi! -> GENERAL\n- Can I make a return? -> GENERAL\n- What payment methods do you accept? -> GENERAL\n- Thank you! -> GENERAL\n- [empty] -> GENERAL\n\nConversation history:\n{{ifempty(9[].history; \"No prior conversation.\")}}\n\nCustomer message: {{ifempty(7.messages[].text.body; \"[empty]\")}}",
                "max_tokens": "50"
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 300
                }
            }
        },
        {
            "id": 1,
            "module": "supabase:searchRows",
            "version": 1,
            "parameters": {
                "accountId": "",
                "tableId": "inventory"
            },
            "mapper": {
                "filterType": "ilike",
                "filter": [
                    {
                        "name": "name",
                        "value": "%{{8.result}}%"
                    }
                ],
                "limit": "5"
            },
            "allowEmptyBundle": true,
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 300
                }
            }
        },
        {
            "id": 2,
            "module": "anthropic-claude:simpleTextPrompt",
            "version": 1,
            "parameters": {},
            "mapper": {
                "model": "claude-haiku-4-5",
                "textPrompt": "You are a warm, helpful customer support assistant for a retail store. You are replying via WhatsApp.\n\nSTORE KNOWLEDGE — fill in your details here before activating:\nStore name: [YOUR STORE NAME]\nStore hours: [e.g. Mon-Sat 9am-6pm, closed Sundays]\nLocation: [e.g. 123 Main Street, Colombo 03]\nPhone: [e.g. +94 11 234 5678]\nEmail: [e.g. support@yourstore.com]\nReturn policy: [e.g. Free returns within 30 days, item must be unworn, reply with order number to start]\nShipping: [e.g. Free over LKR 5000, standard 2-3 days, express same-day in Colombo]\nPayment: [e.g. Visa, Mastercard, cash on delivery, bank transfer]\nSizing: [e.g. Tops true to size, jeans run slim so size up if between sizes]\n\nSTRICT FORMATTING RULES (WhatsApp renders markdown badly — never use it):\n- Plain text only\n- No asterisks, underscores, dashes, bullet points, or any symbols used for formatting\n- No numbered lists\n- Short paragraphs or single sentences only\n- Your reply must be under 220 words\n\nBEHAVIOUR RULES:\n- Be conversational and friendly, not robotic or corporate\n- For stock levels, prices, SKUs: use inventory results only, never guess or invent\n- For store policies, hours, returns, payment, shipping, sizing: use the store knowledge above\n- If inventory results are empty, tell the customer you could not find that item and ask them to describe it differently or share the SKU\n- If the search keyword was GENERAL or the message is not inventory-related, respond helpfully using store knowledge or general knowledge\n- Never mention Make, Supabase, Claude, AI, automation, or any internal tools or systems\n- If the customer seems frustrated or upset, acknowledge their frustration warmly before answering\n- Never make up a phone number, email, address, or policy — if you do not know, say so\n\nCustomer name: {{ifempty(7.messages[].profile.name; \"there\")}}\nCustomer message: {{ifempty(7.messages[].text.body; \"[Non-text message received]\")}}\n\nConversation history (most recent at bottom, may be empty for new customers):\n{{ifempty(9[].history; \"No prior conversation — this is the first message.\")}}\n\nInventory search keyword used: {{8.result}}\nInventory results:\n{{ifempty(join(map(1[]; item; ifempty(item.name; \"Unknown item\") & \" | Stock: \" & ifempty(item.quantity & \"\"; \"0\") & \" units | Price: \" & ifempty(item.price & \"\"; \"N/A\") & \" | SKU: \" & ifempty(item.sku; \"N/A\")); \"\n\"); \"No inventory results found for this query.\")}}\n\nWrite your WhatsApp reply now:",
                "max_tokens": "300"
            },
            "metadata": {
                "designer": {
                    "x": 1200,
                    "y": 300
                }
            }
        },
        {
            "id": 6,
            "module": "whatsapp-business-cloud:sendMessage",
            "version": 1,
            "parameters": {
                "accountId": "",
                "phoneNumberId": "1013623275168542"
            },
            "mapper": {
                "to": "{{7.messages[].from}}",
                "type": "text",
                "text": {
                    "body": "{{2.result}}"
                },
                "context": {
                    "message_id": "{{7.messages[].id}}"
                }
            },
            "metadata": {
                "designer": {
                    "x": 1500,
                    "y": 300
                }
            }
        },
        {
            "id": 10,
            "module": "supabase:upsertARecord",
            "version": 1,
            "parameters": {
                "accountId": "",
                "tableId": "conversations"
            },
            "mapper": {
                "phone_number": "{{7.messages[].from}}",
                "customer_name": "{{ifempty(7.messages[].profile.name; \"Unknown\")}}",
                "last_message_id": "{{7.messages[].id}}",
                "history": "{{substring(ifempty(9[].history; \"\") & \"\n[Customer]: \" & ifempty(7.messages[].text.body; \"[Non-text message]\") & \"\n[Assistant]: \" & 2.result; max(0; length(ifempty(9[].history; \"\") & \"\n[Customer]: \" & ifempty(7.messages[].text.body; \"[Non-text message]\") & \"\n[Assistant]: \" & 2.result) - 4000); 4000)}}",
                "updated_at": "{{now}}"
            },
            "metadata": {
                "designer": {
                    "x": 1800,
                    "y": 300
                }
            }
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": true,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu2.make.com"
    }
}