respond-leads/WhatsApp_Inventory_AI_V6_blueprint.json
{
  "name": "WhatsApp AI Inventory Support V10 — Two-Channel Battle Card",
  "flow": [
    {
      "id": 7,
      "module": "whatsapp-business-cloud:watchEvents2",
      "version": 1,
      "parameters": {
        "hook": "{{connection.webhookId}}",
        "phoneNumberId": "{{connection.phoneNumberId}}"
      },
      "mapper": {},
      "metadata": {
        "designer": { "x": 0, "y": 300 },
        "notes": "Trigger — incoming WhatsApp message. phoneNumberId is pulled from the connected WhatsApp Business Cloud account, no hardcoding needed."
      }
    },
    {
      "id": 9,
      "module": "supabase:searchRows",
      "version": 1,
      "parameters": {
        "tableId": "conversations",
        "accountId": "{{connection.supabaseAccountId}}"
      },
      "filter": {
        "name": "Text messages only — skip reactions, images, audio",
        "conditions": [
          [
            {
              "a": "{{7.messages[].type}}",
              "b": "text",
              "o": "text:equal"
            }
          ]
        ]
      },
      "mapper": {
        "limit": "1",
        "filter": [
          {
            "name": "phone_number",
            "value": "{{7.messages[].from}}"
          }
        ],
        "orderBy": "updated_at",
        "filterType": "eq",
        "orderDirection": "desc"
      },
      "metadata": {
        "designer": { "x": 300, "y": 300 },
        "notes": "Fetch the most recent conversation row for this phone number. Returns history, last_message_id, and customer_name."
      }
    },
    {
      "id": 8,
      "module": "anthropic-claude:simpleTextPrompt",
      "version": 1,
      "parameters": {},
      "filter": {
        "name": "Dedup — skip if this message ID was already processed",
        "conditions": [
          [
            {
              "a": "{{7.messages[].id}}",
              "b": "{{9[].last_message_id}}",
              "o": "text:notequal"
            }
          ]
        ]
      },
      "mapper": {
        "model": "claude-haiku-4-5",
        "max_tokens": "50",
        "textPrompt": "Extract the single best product search keyword from the customer message below.\n\nIf the message is NOT about a specific product or inventory item, return exactly: GENERAL\n\nIf the message uses a vague reference like 'it', 'that one', 'the same', 'this' — look at conversation history to resolve which product is being discussed and return that product name.\n\nRules:\n- Return ONLY the keyword or the word GENERAL\n- No punctuation, no explanation, no extra words\n- Maximum 5 words\n\nExamples:\n- Do you have Nike Air Max in size 9? -> Nike Air Max\n- Is the iPhone 15 in stock? -> iPhone 15\n- What red dresses do you have? -> red dress\n- How many units of SKU-4821 left? -> SKU-4821\n- History shows Nike Air Max discussed, customer says does it come in white -> Nike Air Max\n- Hello, what are your store hours? -> GENERAL\n- Hi! -> GENERAL\n- Can I make a return? -> GENERAL\n- What payment methods do you accept? -> GENERAL\n- Thank you! -> GENERAL\n- [empty] -> GENERAL\n\nConversation history:\n{{ifempty(9[].history; \"No prior conversation.\")}}\n\nCustomer message: {{ifempty(7.messages[].text.body; \"[empty]\")}}"
      },
      "metadata": {
        "designer": { "x": 600, "y": 300 },
        "notes": "Cost op: 50 token cap. This is a classification-only call — haiku handles it perfectly. Result is either a product keyword or GENERAL."
      }
    },
    {
      "id": 1,
      "module": "supabase:searchRows",
      "version": 1,
      "parameters": {
        "tableId": "inventory",
        "accountId": "{{connection.supabaseAccountId}}"
      },
      "mapper": {
        "limit": "5",
        "filter": [
          {
            "name": "name",
            "value": "%{{8.result}}%"
          }
        ],
        "filterType": "ilike"
      },
      "metadata": {
        "designer": { "x": 900, "y": 300 },
        "notes": "Case-insensitive partial match on inventory.name. Returns up to 5 results. If keyword is GENERAL this still runs but returns empty, which is handled gracefully downstream."
      }
    },
    {
      "id": 2,
      "module": "anthropic-claude:simpleTextPrompt",
      "version": 1,
      "parameters": {},
      "mapper": {
        "model": "claude-haiku-4-5",
        "max_tokens": "300",
        "textPrompt": "You are a warm, helpful customer support assistant. You reply via WhatsApp.\n\nBUSINESS KNOWLEDGE — set these in your Supabase 'store_config' table and inject them here at runtime, or fill in directly:\nBusiness name: {{ifempty(9[].store_name; \"[Business Name]\")}}\nBusiness hours: {{ifempty(9[].store_hours; \"[Business Hours]\")}}\nLocation: {{ifempty(9[].store_location; \"[Location]\")}}\nContact: {{ifempty(9[].store_contact; \"[Contact]\")}}\nReturn policy: {{ifempty(9[].return_policy; \"[Return Policy]\")}}\nShipping: {{ifempty(9[].shipping_info; \"[Shipping Info]\")}}\nPayment methods: {{ifempty(9[].payment_methods; \"[Payment Methods]\")}}\nAdditional info: {{ifempty(9[].additional_info; \"\")}}\n\nSTRICT FORMATTING RULES — WhatsApp does not render markdown reliably:\n- Plain text only\n- No asterisks, underscores, dashes used as bullets, or numbered lists\n- Short paragraphs or single sentences only\n- Reply must be under 220 words\n- Never use corporate openers like 'Certainly!', 'Absolutely!', 'Great question!' or 'I understand your concern'\n- Start replies naturally, like a person would — mid-thought is fine\n\nBEHAVIOUR:\n- Be conversational and warm, not robotic\n- For stock, prices, SKUs: use inventory results only — never guess or invent figures\n- For policies, hours, shipping, payment: use business knowledge above\n- If inventory results are empty, tell the customer honestly and ask them to describe it differently or share the product code\n- If the keyword was GENERAL or the message is not product-related, respond using business knowledge or general helpfulness\n- If the customer seems frustrated, acknowledge it warmly before answering — don't skip straight to information\n- Never mention Make, Supabase, Claude, AI, automation, or any internal systems\n- Never invent contact details, addresses, or policies\n\nCustomer name: {{ifempty(7.messages[].profile.name; \"there\")}}\nCustomer message: {{ifempty(7.messages[].text.body; \"[Non-text message received]\")}}\n\nConversation history (most recent at bottom):\n{{ifempty(9[].history; \"No prior conversation — this is the first message.\")}}\n\nInventory search keyword: {{8.result}}\nInventory results:\n{{ifempty(join(map(1[]; item; ifempty(item.name; \"Unknown\") & \" | Stock: \" & ifempty(item.quantity & \"\"; \"0\") & \" units | Price: \" & ifempty(item.price & \"\"; \"N/A\") & \" | SKU: \" & ifempty(item.sku; \"N/A\")); \"\\n\"); \"No inventory results found for this query.\")}}\n\nWrite your WhatsApp reply now:"
      },
      "metadata": {
        "designer": { "x": 1200, "y": 150 },
        "notes": "Channel A — customer-facing reply. Runs in parallel with mod 11. Store config fields are pulled from Supabase conversations table extended columns, making this portable to any business without touching the prompt."
      }
    },
    {
      "id": 11,
      "module": "anthropic-claude:simpleTextPrompt",
      "version": 1,
      "parameters": {},
      "filter": {
        "name": "Battle card only when inventory matched a real product",
        "conditions": [
          [
            {
              "a": "{{8.result}}",
              "b": "GENERAL",
              "o": "text:notequal"
            }
          ]
        ]
      },
      "mapper": {
        "model": "claude-haiku-4-5",
        "max_tokens": "420",
        "textPrompt": "You are a sales intelligence assistant. A lead just messaged our business on WhatsApp and our inventory system found matching products. Generate a concise closer battle card for our human sales rep. Plain text only — no markdown, no asterisks, no bullet dashes.\n\nOUTPUT — use exactly this structure:\n\nLEAD SNAPSHOT\n[One sentence: who this person appears to be, what they want, any budget or timeline signals from their message or history. Be specific and direct.]\n\nTOP 3 SELLING POINTS\n1. [Lead with a concrete inventory fact — stock level, price, a specific attribute — tied directly to what the customer asked about.]\n2. [Second point. Specific, not generic. Translate numbers into customer value where possible.]\n3. [Third point. Frame around the customer's situation or implied concern.]\n\nOBJECTION 1: [Name it in 5 words or fewer]\nWhy: [One sentence on the emotion or psychology driving this objection.]\nScript: [Natural, warm — the way a real salesperson coaches a colleague before a call. Never start with 'I understand', 'Certainly', or 'Absolutely'. Start mid-thought.]\n\nOBJECTION 2: [Name it in 5 words or fewer]\nWhy: [One sentence on what's really behind it.]\nScript: [Same rules — human, direct, no corporate opener. Under 3 sentences.]\n\nCLOSER TIP\n[One tactical observation unique to this lead based on their message and history — something to watch for or lean into during the conversation.]\n\nRULES:\n- Never invent inventory data — only use what is provided\n- Scripts must sound like a real person, not a sales training manual\n- No asterisks, no dashes as bullets, no markdown of any kind\n- Keep the whole card under 300 words\n- Address the lead by name throughout if it is known\n\nCustomer name: {{ifempty(7.messages[].profile.name; \"Unknown\")}}\nCustomer message: {{7.messages[].text.body}}\nConversation history: {{ifempty(9[].history; \"No prior history — first contact.\")}}\nInventory search keyword: {{8.result}}\nInventory results:\n{{ifempty(join(map(1[]; item; ifempty(item.name; \"Unknown\") & \" | Stock: \" & ifempty(item.quantity & \"\"; \"0\") & \" units | Price: \" & ifempty(item.price & \"\"; \"N/A\") & \" | SKU: \" & ifempty(item.sku; \"N/A\")); \"\\n\"); \"No inventory results found.\")}}"
      },
      "metadata": {
        "designer": { "x": 1200, "y": 450 },
        "notes": "Channel B — internal battle card for the closer. Filtered to only fire when keyword is not GENERAL — saves ~40-50% of API calls on this module. Runs in parallel with mod 2."
      }
    },
    {
      "id": 6,
      "module": "whatsapp-business-cloud:sendMessage",
      "version": 1,
      "parameters": {
        "accountId": "{{connection.whatsappAccountId}}",
        "phoneNumberId": "{{connection.phoneNumberId}}"
      },
      "mapper": {
        "to": "{{7.messages[].from}}",
        "text": {
          "body": "{{2.result}}"
        },
        "type": "text",
        "context": {
          "message_id": "{{7.messages[].id}}"
        }
      },
      "metadata": {
        "designer": { "x": 1500, "y": 150 },
        "notes": "Send customer reply. Quoted reply using message_id for context threading in WhatsApp."
      }
    },
    {
      "id": 12,
      "module": "whatsapp-business-cloud:sendMessage",
      "version": 1,
      "parameters": {
        "accountId": "{{connection.whatsappAccountId}}",
        "phoneNumberId": "{{connection.closerPhoneNumberId}}"
      },
      "filter": {
        "name": "Only send battle card if mod 11 produced a result",
        "conditions": [
          [
            {
              "a": "{{11.result}}",
              "b": "",
              "o": "text:notequal"
            }
          ]
        ]
      },
      "mapper": {
        "to": "{{connection.closerWhatsAppNumber}}",
        "text": {
          "body": "New lead alert — {{ifempty(7.messages[].profile.name; \"Unknown\")}}\n\n{{11.result}}"
        },
        "type": "text"
      },
      "metadata": {
        "designer": { "x": 1500, "y": 450 },
        "notes": "Send battle card to closer via WhatsApp. Replace closerPhoneNumberId and closerWhatsAppNumber with your internal business number credentials. Alternatively swap this module for telegram:sendMessage or discord:createMessage for the closer channel."
      }
    },
    {
      "id": 10,
      "module": "supabase:upsertARecord",
      "version": 1,
      "parameters": {
        "tableId": "conversations",
        "accountId": "{{connection.supabaseAccountId}}"
      },
      "mapper": {
        "history": "{{substring(ifempty(9[].history; \"\") & \"\\n[Customer]: \" & ifempty(7.messages[].text.body; \"[Non-text message]\") & \"\\n[Assistant]: \" & 2.result; max(0; length(ifempty(9[].history; \"\") & \"\\n[Customer]: \" & ifempty(7.messages[].text.body; \"[Non-text message]\") & \"\\n[Assistant]: \" & 2.result) - 4000); 4000)}}",
        "updated_at": "{{now}}",
        "phone_number": "{{7.messages[].from}}",
        "customer_name": "{{ifempty(7.messages[].profile.name; \"Unknown\")}}",
        "last_message_id": "{{7.messages[].id}}"
      },
      "metadata": {
        "designer": { "x": 1800, "y": 300 },
        "notes": "Upsert conversation history. Rolling 4000-char window keeps token costs stable — oldest turns are trimmed from the front. Runs after both channels complete."
      }
    }
  ],
  "metadata": {
    "instant": true,
    "version": 1,
    "scenario": {
      "roundtrips": 1,
      "maxErrors": 3,
      "autoCommit": true,
      "autoCommitTriggerLast": true,
      "sequential": false,
      "slots": null,
      "confidential": false,
      "dataloss": false,
      "dlq": false,
      "freshVariables": false
    },
    "designer": {
      "orphans": []
    },
    "zone": "eu2.make.com",
    "notes": [
      {
        "title": "V10 — Two-Channel Battle Card",
        "content": "WHAT CHANGED FROM V9:\n- Mod 11 added: battle card generator (haiku, 420 tokens max)\n- Mod 12 added: battle card delivery to closer via second WhatsApp number\n- Mod 11 filter: only fires when keyword != GENERAL (saves ~40-50% API calls on this module)\n- Mod 12 filter: only fires if mod 11 produced output\n- sequential set to false: mod 2 and mod 11 run in parallel for lower latency\n- All hardcoded IDs replaced with connection variable references\n- Store config (hours, policy, contact etc.) moved to Supabase conversations table columns — set once, reused forever\n\nSUPABASE TABLE: conversations\nRequired columns: phone_number (text, PK), history (text), customer_name (text), last_message_id (text), updated_at (timestamptz)\nOptional store config columns (add these for full portability): store_name, store_hours, store_location, store_contact, return_policy, shipping_info, payment_methods, additional_info\n\nSUPABASE TABLE: inventory\nRequired columns: name (text), quantity (integer), price (text or numeric), sku (text)\n\nCONNECTION VARIABLES TO SET IN MAKE:\n- connection.webhookId — your WhatsApp webhook ID\n- connection.phoneNumberId — your customer-facing WhatsApp phone number ID\n- connection.closerPhoneNumberId — phone number ID for the closer-facing WhatsApp number\n- connection.closerWhatsAppNumber — the closer's WhatsApp number in E.164 format e.g. +94771234567\n- connection.whatsappAccountId — your WhatsApp Business Cloud account ID\n- connection.supabaseAccountId — your Supabase connection account ID\n\nCOST OPS:\n- Mod 8 (keyword): ~$0.000075 per message\n- Mod 2 (customer reply): ~$0.000525 per message\n- Mod 11 (battle card): ~$0.000660 — only on product queries, est. 50-60% of messages\n- Total per full turn with battle card: ~$0.0013\n- 100 leads x 4 messages avg = ~$0.52/month\n\nTO SWAP CLOSER CHANNEL TO TELEGRAM:\nReplace mod 12 with telegram:sendMessage, set chat_id to your closer's Telegram chat ID, body to {{11.result}}.\n\nTO SWAP CLOSER CHANNEL TO DISCORD:\nReplace mod 12 with discord:createMessage, set channelId to your #leads channel, content to {{11.result}}."
      }
    ]
  }
}
