respond-leads/WhatsApp_Inventory_AI_V6_blueprint.json
{
    "name": "WhatsApp AI Inventory Support - Universal",
    "flow": [
        {
            "id": 7,
            "module": "whatsapp-business-cloud:watchEvents2",
            "version": 1,
            "parameters": {
                "__IMTHOOK__": 3939800
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "__IMTHOOK__": {
                            "data": {
                                "editable": "false"
                            },
                            "label": "Inventory"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTHOOK__",
                        "type": "hook:whatsapp-business-cloud",
                        "label": "Webhook",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "WhatsApp Business Account ID"
                    },
                    {
                        "name": "time",
                        "type": "date",
                        "label": "Time"
                    },
                    {
                        "name": "field",
                        "type": "text",
                        "label": "Field"
                    },
                    {
                        "name": "messaging_product",
                        "type": "text",
                        "label": "Messaging Product"
                    },
                    {
                        "name": "metadata",
                        "spec": [
                            {
                                "name": "display_phone_number",
                                "type": "text",
                                "label": "Display Phone Number"
                            },
                            {
                                "name": "phone_number_id",
                                "type": "text",
                                "label": "Phone Number ID"
                            }
                        ],
                        "type": "collection",
                        "label": "Metadata"
                    },
                    {
                        "name": "contacts",
                        "spec": {
                            "spec": [
                                {
                                    "name": "profile",
                                    "spec": [
                                        {
                                            "name": "name",
                                            "type": "text",
                                            "label": "Name"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Profile"
                                },
                                {
                                    "name": "wa_id",
                                    "type": "text",
                                    "label": "WhatsApp ID"
                                }
                            ],
                            "type": "collection"
                        },
                        "type": "array",
                        "label": "Contacts"
                    },
                    {
                        "name": "messages",
                        "spec": {
                            "spec": [
                                {
                                    "name": "from",
                                    "type": "text",
                                    "label": "Sender"
                                },
                                {
                                    "name": "id",
                                    "type": "text",
                                    "label": "Message ID"
                                },
                                {
                                    "name": "timestamp",
                                    "type": "date",
                                    "label": "Timestamp"
                                },
                                {
                                    "name": "text",
                                    "spec": [
                                        {
                                            "name": "body",
                                            "type": "text",
                                            "label": "Body"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Text"
                                },
                                {
                                    "name": "type",
                                    "type": "text",
                                    "label": "Type"
                                },
                                {
                                    "name": "image",
                                    "spec": [
                                        {
                                            "name": "caption",
                                            "type": "text",
                                            "label": "Caption"
                                        },
                                        {
                                            "name": "mime_type",
                                            "type": "text",
                                            "label": "MIME Type"
                                        },
                                        {
                                            "name": "sha256",
                                            "type": "text",
                                            "label": "SHA256"
                                        },
                                        {
                                            "name": "id",
                                            "type": "text",
                                            "label": "Media ID"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Image"
                                },
                                {
                                    "name": "audio",
                                    "spec": [
                                        {
                                            "name": "mime_type",
                                            "type": "text",
                                            "label": "MIME Type"
                                        },
                                        {
                                            "name": "sha256",
                                            "type": "text",
                                            "label": "SHA256"
                                        },
                                        {
                                            "name": "id",
                                            "type": "text",
                                            "label": "Media ID"
                                        },
                                        {
                                            "name": "voice",
                                            "type": "boolean",
                                            "label": "Voice"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Audio"
                                },
                                {
                                    "name": "sticker",
                                    "spec": [
                                        {
                                            "name": "mime_type",
                                            "type": "text",
                                            "label": "MIME Type"
                                        },
                                        {
                                            "name": "sha256",
                                            "type": "text",
                                            "label": "SHA256"
                                        },
                                        {
                                            "name": "id",
                                            "type": "text",
                                            "label": "Media ID"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Sticker"
                                },
                                {
                                    "name": "location",
                                    "spec": [
                                        {
                                            "name": "latitude",
                                            "type": "number",
                                            "label": "Latitude"
                                        },
                                        {
                                            "name": "longitude",
                                            "type": "number",
                                            "label": "Longitude"
                                        },
                                        {
                                            "name": "name",
                                            "type": "text",
                                            "label": "Name"
                                        },
                                        {
                                            "name": "address",
                                            "type": "text",
                                            "label": "Address"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Location"
                                },
                                {
                                    "name": "context",
                                    "spec": [
                                        {
                                            "name": "from",
                                            "type": "text",
                                            "label": "From"
                                        },
                                        {
                                            "name": "id",
                                            "type": "text",
                                            "label": "Context ID"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Context"
                                },
                                {
                                    "name": "button",
                                    "spec": [
                                        {
                                            "name": "payload",
                                            "type": "text",
                                            "label": "Payload"
                                        },
                                        {
                                            "name": "text",
                                            "type": "text",
                                            "label": "Text"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Button"
                                },
                                {
                                    "name": "interactive",
                                    "spec": [
                                        {
                                            "name": "type",
                                            "type": "text",
                                            "label": "Type"
                                        },
                                        {
                                            "name": "list_reply",
                                            "spec": [
                                                {
                                                    "name": "id",
                                                    "type": "number",
                                                    "label": "ID"
                                                },
                                                {
                                                    "name": "title",
                                                    "type": "text",
                                                    "label": "Title"
                                                },
                                                {
                                                    "name": "description",
                                                    "type": "text",
                                                    "label": "Description"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "List Reply"
                                        },
                                        {
                                            "name": "button_reply",
                                            "spec": [
                                                {
                                                    "name": "id",
                                                    "type": "number",
                                                    "label": "ID"
                                                },
                                                {
                                                    "name": "title",
                                                    "type": "text",
                                                    "label": "Title"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Button Reply"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Interactive"
                                }
                            ],
                            "type": "collection"
                        },
                        "type": "array",
                        "label": "Messages"
                    }
                ]
            }
        },
        {
            "id": 9,
            "module": "supabase:searchRows",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 13929562
            },
            "filter": {
                "name": "Text messages only",
                "conditions": [
                    [
                        {
                            "a": "{{7.messages[1].type}}",
                            "b": "text",
                            "o": "text:equal"
                        }
                    ]
                ]
            },
            "mapper": {
                "limit": "1",
                "table": "conversations",
                "search": [
                    [
                        {
                            "a": "phone_number",
                            "b": "{{replace(replace(7.messages[1].from; \" \"; \"\"); \"tel:\"; \"\")}}",
                            "o": "text:eq."
                        }
                    ]
                ]
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "table": {
                            "mode": "chose",
                            "label": "conversations",
                            "nested": [
                                {
                                    "name": "search",
                                    "type": "filter",
                                    "label": "Search criteria",
                                    "options": {
                                        "logic": "and",
                                        "store": [
                                            {
                                                "label": "id",
                                                "value": "id"
                                            },
                                            {
                                                "label": "phone_number",
                                                "value": "phone_number"
                                            },
                                            {
                                                "label": "customer_name",
                                                "value": "customer_name"
                                            },
                                            {
                                                "label": "history",
                                                "value": "history"
                                            },
                                            {
                                                "label": "created_at",
                                                "value": "created_at"
                                            },
                                            {
                                                "label": "updated_at",
                                                "value": "updated_at"
                                            },
                                            {
                                                "label": "last_message_id",
                                                "value": "last_message_id"
                                            }
                                        ],
                                        "operators": [
                                            {
                                                "label": "Text",
                                                "options": [
                                                    {
                                                        "label": "Equals",
                                                        "value": "text:eq."
                                                    },
                                                    {
                                                        "label": "Does not equal",
                                                        "value": "text:neq."
                                                    },
                                                    {
                                                        "label": "Contains (case sensitive)",
                                                        "value": "text:like."
                                                    },
                                                    {
                                                        "label": "Contains (case insensitive)",
                                                        "value": "text:ilike."
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "Numbers",
                                                "options": [
                                                    {
                                                        "label": "Equals",
                                                        "value": "number:eq."
                                                    },
                                                    {
                                                        "label": "Does not equal",
                                                        "value": "number:neq."
                                                    },
                                                    {
                                                        "label": "Greater than",
                                                        "value": "number:gt."
                                                    },
                                                    {
                                                        "label": "Less than",
                                                        "value": "number:lt."
                                                    },
                                                    {
                                                        "label": "Greater than or equal to",
                                                        "value": "number:gte."
                                                    },
                                                    {
                                                        "label": "Less than or equal to",
                                                        "value": "number:lte."
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "Date",
                                                "options": [
                                                    {
                                                        "label": "Equals",
                                                        "value": "date:eq."
                                                    },
                                                    {
                                                        "label": "Does not equal",
                                                        "value": "date:neq."
                                                    },
                                                    {
                                                        "label": "Later than",
                                                        "value": "date:gt."
                                                    },
                                                    {
                                                        "label": "Earlier than",
                                                        "value": "date:lt."
                                                    },
                                                    {
                                                        "label": "Later than or equal to",
                                                        "value": "date:gte."
                                                    },
                                                    {
                                                        "label": "Earlier than or equal to",
                                                        "value": "date:lte."
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "Boolean",
                                                "options": [
                                                    {
                                                        "label": "Equals",
                                                        "value": "boolean:eq."
                                                    },
                                                    {
                                                        "label": "Does not equal",
                                                        "value": "boolean:neq."
                                                    }
                                                ]
                                            }
                                        ]
                                    }
                                }
                            ]
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "supabase"
                            },
                            "label": "inventory-check"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:supabase",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit"
                    },
                    {
                        "name": "search",
                        "type": "filter",
                        "label": "Search criteria"
                    }
                ],
                "interface": [
                    {
                        "name": "__IMTLENGTH__",
                        "type": "uinteger",
                        "label": "Total number of bundles"
                    },
                    {
                        "name": "__IMTINDEX__",
                        "type": "uinteger",
                        "label": "Bundle order position"
                    },
                    {
                        "name": "id",
                        "type": "number",
                        "label": "id"
                    },
                    {
                        "name": "phone_number",
                        "type": "text",
                        "label": "phone_number"
                    },
                    {
                        "name": "customer_name",
                        "type": "text",
                        "label": "customer_name"
                    },
                    {
                        "name": "history",
                        "type": "text",
                        "label": "history"
                    },
                    {
                        "name": "created_at",
                        "type": "text",
                        "label": "created_at"
                    },
                    {
                        "name": "updated_at",
                        "type": "text",
                        "label": "updated_at"
                    },
                    {
                        "name": "last_message_id",
                        "type": "text",
                        "label": "last_message_id"
                    }
                ]
            }
        },
        {
            "id": 8,
            "module": "anthropic-claude:simpleTextPrompt",
            "version": 1,
            "parameters": {},
            "filter": {
                "name": "Dedup - skip if this message ID was already processed",
                "conditions": [
                    [
                        {
                            "o": "or",
                            "conditions": [
                                [
                                    {
                                        "a": "{{9.__IMTLENGTH__}}",
                                        "b": "0",
                                        "o": "number:eq."
                                    }
                                ],
                                [
                                    {
                                        "a": "{{7.messages[1].id}}",
                                        "b": "{{ifempty(9[1].last_message_id; \"\")}}",
                                        "o": "text:notequal"
                                    }
                                ]
                            ]
                        }
                    ]
                ]
            },
            "mapper": {
                "model": "claude-haiku-4-5",
                "max_tokens": "50",
                "textPrompt": "Extract the single best product search keyword from the customer message below.\nIf the message is NOT about a specific product or inventory, return exactly: GENERAL\n\nRules:\n- Return ONLY the keyword or the word GENERAL\n- No punctuation, no explanation, no extra words\n- Max 5 words\n- If the message contains an SKU pattern (SKU-#### or SKU-####-##), return ONLY that SKU exactly as written\n- If multiple products are mentioned, return the FIRST one only\n- If the message is ambiguous, generic, or not product-related, return GENERAL\n- Trim any leading/trailing whitespace from your output\n\nExamples:\n- Do you have Nike Air Max in size 9? -> Nike Air Max\n- Is the iPhone 15 in stock? -> iPhone 15\n- What red dresses do you have? -> red dress\n- How many units of SKU-4821 left? -> SKU-4821\n- Do you have SKU-9999 or Nike shoes? -> SKU-9999\n- Hello, what are your store hours? -> GENERAL\n- Hi! -> GENERAL\n- Can I make a return? -> GENERAL\n- What payment methods do you accept? -> GENERAL\n- Thank you! -> GENERAL\n- [empty] -> GENERAL\n- I need help with my order -> GENERAL\n- Where is my package? -> GENERAL\n\nCustomer message: {{ifempty(7.messages[1].text.body; \"[empty]\")}}"
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "model": {
                            "label": "Claude Haiku 4.5The quickest option, perfect for simple questions and instant, straightforward answers"
                        }
                    }
                },
                "expect": [
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model",
                        "required": true,
                        "validate": {
                            "enum": [
                                "claude-sonnet-4-6",
                                "claude-opus-4-6",
                                "claude-sonnet-4-5",
                                "claude-haiku-4-5",
                                "claude-opus-4-5"
                            ]
                        }
                    },
                    {
                        "name": "textPrompt",
                        "type": "text",
                        "label": "Text Prompt",
                        "required": true
                    },
                    {
                        "name": "max_tokens",
                        "type": "uinteger",
                        "label": "Max Tokens",
                        "required": true
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 1,
            "module": "supabase:searchRows",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 13929562
            },
            "filter": {
                "name": "Skip GENERAL keyword - only search inventory for product queries",
                "conditions": [
                    [
                        {
                            "a": "{{trim(8.result)}}",
                            "b": "GENERAL",
                            "o": "text:notequal"
                        }
                    ],
                    [
                        {
                            "a": "is_active",
                            "b": "true",
                            "o": "boolean:eq."
                        }
                    ]
                ]
            },
            "mapper": {
                "limit": "5",
                "table": "inventory",
                "search": [
                    [
                        {
                            "a": "name",
                            "b": "%{{trim(8.result)}}%",
                            "o": "text:ilike."
                        },
                        {
                            "a": "sku",
                            "b": "{{trim(8.result)}}",
                            "o": "text:eq."
                        },
                        {
                            "a": "description",
                            "b": "%{{trim(8.result)}}%",
                            "o": "text:ilike."
                        },
                        {
                            "a": "category",
                            "b": "%{{trim(8.result)}}%",
                            "o": "text:ilike."
                        }
                    ]
                ]
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "table": {
                            "mode": "chose",
                            "label": "inventory",
                            "nested": [
                                {
                                    "name": "search",
                                    "type": "filter",
                                    "label": "Search criteria",
                                    "options": {
                                        "logic": "and",
                                        "store": [
                                            {
                                                "label": "id",
                                                "value": "id"
                                            },
                                            {
                                                "label": "name",
                                                "value": "name"
                                            },
                                            {
                                                "label": "sku",
                                                "value": "sku"
                                            },
                                            {
                                                "label": "quantity",
                                                "value": "quantity"
                                            },
                                            {
                                                "label": "price",
                                                "value": "price"
                                            },
                                            {
                                                "label": "currency",
                                                "value": "currency"
                                            },
                                            {
                                                "label": "price_usd",
                                                "value": "price_usd"
                                            },
                                            {
                                                "label": "created_at",
                                                "value": "created_at"
                                            },
                                            {
                                                "label": "updated_at",
                                                "value": "updated_at"
                                            }
                                        ],
                                        "operators": [
                                            {
                                                "label": "Text",
                                                "options": [
                                                    {
                                                        "label": "Equals",
                                                        "value": "text:eq."
                                                    },
                                                    {
                                                        "label": "Does not equal",
                                                        "value": "text:neq."
                                                    },
                                                    {
                                                        "label": "Contains (case sensitive)",
                                                        "value": "text:like."
                                                    },
                                                    {
                                                        "label": "Contains (case insensitive)",
                                                        "value": "text:ilike."
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "Numbers",
                                                "options": [
                                                    {
                                                        "label": "Equals",
                                                        "value": "number:eq."
                                                    },
                                                    {
                                                        "label": "Does not equal",
                                                        "value": "number:neq."
                                                    },
                                                    {
                                                        "label": "Greater than",
                                                        "value": "number:gt."
                                                    },
                                                    {
                                                        "label": "Less than",
                                                        "value": "number:lt."
                                                    },
                                                    {
                                                        "label": "Greater than or equal to",
                                                        "value": "number:gte."
                                                    },
                                                    {
                                                        "label": "Less than or equal to",
                                                        "value": "number:lte."
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "Date",
                                                "options": [
                                                    {
                                                        "label": "Equals",
                                                        "value": "date:eq."
                                                    },
                                                    {
                                                        "label": "Does not equal",
                                                        "value": "date:neq."
                                                    },
                                                    {
                                                        "label": "Later than",
                                                        "value": "date:gt."
                                                    },
                                                    {
                                                        "label": "Earlier than",
                                                        "value": "date:lt."
                                                    },
                                                    {
                                                        "label": "Later than or equal to",
                                                        "value": "date:gte."
                                                    },
                                                    {
                                                        "label": "Earlier than or equal to",
                                                        "value": "date:lte."
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "Boolean",
                                                "options": [
                                                    {
                                                        "label": "Equals",
                                                        "value": "boolean:eq."
                                                    },
                                                    {
                                                        "label": "Does not equal",
                                                        "value": "boolean:neq."
                                                    }
                                                ]
                                            }
                                        ]
                                    }
                                }
                            ]
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "supabase"
                            },
                            "label": "inventory-check"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:supabase",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit"
                    },
                    {
                        "name": "search",
                        "type": "filter",
                        "label": "Search criteria",
                        "options": {
                            "logic": "and",
                            "store": [
                                {
                                    "label": "id",
                                    "value": "id"
                                },
                                {
                                    "label": "name",
                                    "value": "name"
                                },
                                {
                                    "label": "sku",
                                    "value": "sku"
                                },
                                {
                                    "label": "quantity",
                                    "value": "quantity"
                                },
                                {
                                    "label": "price",
                                    "value": "price"
                                },
                                {
                                    "label": "currency",
                                    "value": "currency"
                                },
                                {
                                    "label": "price_usd",
                                    "value": "price_usd"
                                },
                                {
                                    "label": "created_at",
                                    "value": "created_at"
                                },
                                {
                                    "label": "updated_at",
                                    "value": "updated_at"
                                }
                            ],
                            "operators": [
                                {
                                    "label": "Text",
                                    "options": [
                                        {
                                            "label": "Equals",
                                            "value": "text:eq."
                                        },
                                        {
                                            "label": "Does not equal",
                                            "value": "text:neq."
                                        },
                                        {
                                            "label": "Contains (case sensitive)",
                                            "value": "text:like."
                                        },
                                        {
                                            "label": "Contains (case insensitive)",
                                            "value": "text:ilike."
                                        }
                                    ]
                                },
                                {
                                    "label": "Numbers",
                                    "options": [
                                        {
                                            "label": "Equals",
                                            "value": "number:eq."
                                        },
                                        {
                                            "label": "Does not equal",
                                            "value": "number:neq."
                                        },
                                        {
                                            "label": "Greater than",
                                            "value": "number:gt."
                                        },
                                        {
                                            "label": "Less than",
                                            "value": "number:lt."
                                        },
                                        {
                                            "label": "Greater than or equal to",
                                            "value": "number:gte."
                                        },
                                        {
                                            "label": "Less than or equal to",
                                            "value": "number:lte."
                                        }
                                    ]
                                },
                                {
                                    "label": "Date",
                                    "options": [
                                        {
                                            "label": "Equals",
                                            "value": "date:eq."
                                        },
                                        {
                                            "label": "Does not equal",
                                            "value": "date:neq."
                                        },
                                        {
                                            "label": "Later than",
                                            "value": "date:gt."
                                        },
                                        {
                                            "label": "Earlier than",
                                            "value": "date:lt."
                                        },
                                        {
                                            "label": "Later than or equal to",
                                            "value": "date:gte."
                                        },
                                        {
                                            "label": "Earlier than or equal to",
                                            "value": "date:lte."
                                        }
                                    ]
                                },
                                {
                                    "label": "Boolean",
                                    "options": [
                                        {
                                            "label": "Equals",
                                            "value": "boolean:eq."
                                        },
                                        {
                                            "label": "Does not equal",
                                            "value": "boolean:neq."
                                        }
                                    ]
                                }
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "__IMTLENGTH__",
                        "type": "uinteger",
                        "label": "Total number of bundles"
                    },
                    {
                        "name": "__IMTINDEX__",
                        "type": "uinteger",
                        "label": "Bundle order position"
                    },
                    {
                        "name": "id",
                        "type": "number",
                        "label": "id"
                    },
                    {
                        "name": "name",
                        "type": "text",
                        "label": "name"
                    },
                    {
                        "name": "sku",
                        "type": "text",
                        "label": "sku"
                    },
                    {
                        "name": "quantity",
                        "type": "number",
                        "label": "quantity"
                    },
                    {
                        "name": "price",
                        "type": "text",
                        "label": "price"
                    },
                    {
                        "name": "currency",
                        "type": "text",
                        "label": "currency"
                    },
                    {
                        "name": "price_usd",
                        "type": "text",
                        "label": "price_usd"
                    },
                    {
                        "name": "created_at",
                        "type": "text",
                        "label": "created_at"
                    },
                    {
                        "name": "updated_at",
                        "type": "text",
                        "label": "updated_at"
                    }
                ]
            }
        },
        {
            "id": 11,
            "module": "util:TextAggregator",
            "version": 1,
            "parameters": {
                "feeder": 1,
                "rowSeparator": "\n"
            },
            "mapper": {
                "value": "{{1.name}} | Stock: {{if(1.quantity > 0; 1.quantity & \" units\"; \"OUT OF STOCK\")}} | Price: {{ifempty(1.price; \"Not listed\")}} {{ifempty(1.currency; \"\")}} | SKU: {{1.sku}}{{if(1.category; \" | Category: \" & 1.category; \"\")}}{{if(1.description; \" | \" & substring(1.description; 0; 100) & \"...\"; \"\")}}"
            },
            "metadata": {
                "designer": {
                    "x": 1200,
                    "y": 0
                },
                "restore": {
                    "extra": {
                        "feeder": {
                            "label": "Supabase - Search Rows [1]"
                        }
                    },
                    "parameters": {
                        "rowSeparator": {
                            "label": "New row"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "rowSeparator",
                        "type": "select",
                        "label": "Row separator",
                        "validate": {
                            "enum": [
                                "\n",
                                "\t",
                                "other"
                            ]
                        }
                    }
                ],
                "expect": [
                    {
                        "name": "value",
                        "type": "text",
                        "label": "Text"
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 2,
            "module": "anthropic-claude:simpleTextPrompt",
            "version": 1,
            "parameters": {},
            "mapper": {
                "model": "claude-haiku-4-5",
                "max_tokens": "400",
                "textPrompt": "You are a warm, helpful customer support assistant for an inventory-based business. You are replying via WhatsApp.\n\nSTRICT FORMATTING RULES (WhatsApp renders markdown badly - never use it):\n- Plain text only\n- No asterisks, underscores, dashes, bullet points, or any symbols used for formatting\n- No numbered lists\n- Short paragraphs or single sentences only\n- Your reply must be under 220 words - COUNT YOUR WORDS AND SHORTEN IF NEEDED\n\nBEHAVIOUR RULES:\n- Be conversational and friendly, not robotic or corporate\n- Only state inventory facts that appear in the data below - never guess, invent, or estimate stock levels, prices, or product details\n- If inventory results show \"No results found\" or \"No inventory data available\", tell the customer you could not find that item and ask them to describe it differently or share the SKU\n- If the search keyword was GENERAL or the message is not inventory-related (greetings, returns, hours, payments, complaints, etc.), respond helpfully and naturally from general knowledge\n- Never mention Make, Supabase, Claude, AI, automation, or any internal tools or systems\n- If the customer message contains words like \"angry\", \"frustrated\", \"not working\", \"complaint\", \"upset\", \"disappointed\", start with: \"I understand this is frustrating, and I'm here to help.\"\n- Never make up a phone number, email, address, or policy - if you do not know, say so and offer to help find the right person\n- If the customer asks about delivery, returns, or payments and you lack specific policy data, say: \"Let me connect you with our team who can give you exact details on that.\"\n\nCustomer name: {{ifempty(7.contacts[1].profile.name; \"there\")}}\nCustomer message: {{ifempty(7.messages[1].text.body; \"[Non-text message received]\")}}\n\nConversation history (most recent at bottom, may be empty for new customers):\n{{ifempty(9[1].history; \"No prior conversation - this is the first message.\")}}\n\nInventory search keyword used: {{trim(8.result)}}\nInventory results:\n{{ifempty(11.text; \"No inventory data available - do not mention specific products\")}}\n\nWrite your WhatsApp reply now. FINAL CHECK: Count your words. If over 220, shorten by removing filler words. Reply must be 220 words or fewer."
            },
            "metadata": {
                "designer": {
                    "x": 1500,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "model": {
                            "label": "Claude Haiku 4.5The quickest option, perfect for simple questions and instant, straightforward answers"
                        }
                    }
                },
                "expect": [
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model",
                        "required": true,
                        "validate": {
                            "enum": [
                                "claude-sonnet-4-6",
                                "claude-opus-4-6",
                                "claude-sonnet-4-5",
                                "claude-haiku-4-5",
                                "claude-opus-4-5"
                            ]
                        }
                    },
                    {
                        "name": "textPrompt",
                        "type": "text",
                        "label": "Text Prompt",
                        "required": true
                    },
                    {
                        "name": "max_tokens",
                        "type": "uinteger",
                        "label": "Max Tokens",
                        "required": true
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 6,
            "module": "whatsapp-business-cloud:sendMessage",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 13842210
            },
            "mapper": {
                "to": "{{replace(replace(7.messages[1].from; \" \"; \"\"); \"tel:\"; \"\")}}",
                "text": {
                    "body": "{{if(length(2.result) > 4000; substring(2.result; 0; 4000) & \"...\"; 2.result)}}",
                    "preview_url": false
                },
                "type": "text",
                "fromId": "{{7.metadata.phone_number_id}}"
            },
            "metadata": {
                "designer": {
                    "x": 1800,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "text": {
                            "nested": {
                                "preview_url": {
                                    "mode": "chose"
                                }
                            }
                        },
                        "type": {
                            "label": "Text"
                        },
                        "fromId": {
                            "mode": "edit"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "whatsapp-business-cloud"
                            },
                            "label": "Inventory-call (Veloxal (1620130195857388))"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:whatsapp-business-cloud",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "fromId",
                        "type": "select",
                        "label": "Sender ID",
                        "required": true
                    },
                    {
                        "name": "to",
                        "type": "text",
                        "label": "Receiver",
                        "required": true
                    },
                    {
                        "name": "type",
                        "type": "select",
                        "label": "Message Type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "text",
                                "image",
                                "audio",
                                "video",
                                "document",
                                "sticker",
                                "location",
                                "contacts",
                                "interactive"
                            ]
                        }
                    },
                    {
                        "name": "text",
                        "spec": [
                            {
                                "name": "body",
                                "type": "text",
                                "label": "Body",
                                "required": true,
                                "validate": {
                                    "max": 4096
                                }
                            },
                            {
                                "name": "preview_url",
                                "type": "boolean",
                                "label": "Preview URL",
                                "required": true
                            }
                        ],
                        "type": "collection",
                        "label": "Text"
                    }
                ]
            }
        },
        {
            "id": 10,
            "module": "supabase:upsertARecord",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 13929562
            },
            "mapper": {
                "table": "conversations",
                "history": "{{substring(ifempty(9[1].history; \"\") & \"\\n[Customer]: \" & ifempty(7.messages[1].text.body; \"[Non-text message]\") & \"\\n[Assistant]: \" & 2.result; max(0; length(ifempty(9[1].history; \"\") & \"\\n[Customer]: \" & ifempty(7.messages[1].text.body; \"[Non-text message]\") & \"\\n[Assistant]: \" & 2.result) - 3800); 3800)}}",
                "updated_at": "{{formatDate(now; \"YYYY-MM-DDTHH:mm:ss.SSSZ\")}}",
                "phone_number": "{{replace(replace(7.messages[1].from; \" \"; \"\"); \"tel:\"; \"\")}}",
                "customer_name": "{{ifempty(7.contacts[1].profile.name; \"Unknown\")}}",
                "last_message_id": "{{7.messages[1].id}}"
            },
            "metadata": {
                "designer": {
                    "x": 2100,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "table": {
                            "mode": "chose",
                            "label": "conversations",
                            "nested": [
                                {
                                    "help": "Note:\nThis is a Primary Key.<pk/>",
                                    "name": "id",
                                    "type": "integer",
                                    "label": "id",
                                    "options": null,
                                    "required": false
                                },
                                {
                                    "help": "",
                                    "name": "phone_number",
                                    "type": "text",
                                    "label": "phone_number",
                                    "options": null,
                                    "required": false
                                },
                                {
                                    "help": "Defaults to Unknown.",
                                    "name": "customer_name",
                                    "type": "text",
                                    "label": "customer_name",
                                    "options": null,
                                    "required": false
                                },
                                {
                                    "help": "",
                                    "name": "history",
                                    "type": "text",
                                    "label": "history",
                                    "options": null,
                                    "required": false
                                },
                                {
                                    "help": "Defaults to now().",
                                    "name": "created_at",
                                    "type": "text",
                                    "label": "created_at",
                                    "options": null,
                                    "required": false
                                },
                                {
                                    "help": "Defaults to now().",
                                    "name": "updated_at",
                                    "type": "text",
                                    "label": "updated_at",
                                    "options": null,
                                    "required": false
                                },
                                {
                                    "help": "WhatsApp message ID for deduplication",
                                    "name": "last_message_id",
                                    "type": "text",
                                    "label": "last_message_id",
                                    "options": null,
                                    "required": false
                                }
                            ]
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "supabase"
                            },
                            "label": "inventory-check"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:supabase",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "id",
                        "type": "integer"
                    },
                    {
                        "name": "phone_number",
                        "type": "text"
                    },
                    {
                        "name": "customer_name",
                        "type": "text"
                    },
                    {
                        "name": "history",
                        "type": "text"
                    },
                    {
                        "name": "created_at",
                        "type": "text"
                    },
                    {
                        "name": "updated_at",
                        "type": "text"
                    },
                    {
                        "name": "last_message_id",
                        "type": "text"
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "number",
                        "label": "id"
                    },
                    {
                        "name": "phone_number",
                        "type": "text",
                        "label": "phone_number"
                    },
                    {
                        "name": "customer_name",
                        "type": "text",
                        "label": "customer_name"
                    },
                    {
                        "name": "history",
                        "type": "text",
                        "label": "history"
                    },
                    {
                        "name": "created_at",
                        "type": "text",
                        "label": "created_at"
                    },
                    {
                        "name": "updated_at",
                        "type": "text",
                        "label": "updated_at"
                    },
                    {
                        "name": "last_message_id",
                        "type": "text",
                        "label": "last_message_id"
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": true,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu2.make.com",
        "notes": []
    }
}